{% extends "base.html" %}

{% block context %}
    {{ message }}
    <br>
    <div class="container-fluid">
    {% for x,y in result.items %}
        <div class="row" style="padding: 10px 10px;">
         {{ x }}
        <table class="table table-bordered table-hover table-striped">
            {% for url,title in y.bingC.items %}
            {% if forloop.first %}
            <tr class="success">
                <td>
                    Url
                </td>
                <td colspan="2">
                    Title
                </td>
            </tr>
            {% endif%}
            <tr>
                <td>
                    {{ url }}
                </td>
                <td colspan="2">
                    {{ title }}
                </td>
            </tr>
            {% endfor %}
            {% if not y.bingC.items %}
                <tr class="danger" style="text-align: center">
                    <td colspan="3">
                        Bing Search : Nothing
                    </td>
                </tr>
            {% endif %}

            {% for port,res in y.nmap.items %}
            {% if forloop.first %}
                <tr class="success">
                    <td>
                        Port
                    </td>
                    <td>
                        Service
                    </td>
                    <td>
                        Banner
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    {{ port }}
                </td>
                <td>
                    {{res.service}}
                </td>
                <td>
                    {{ res.banner}}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    {% endfor %}
    </div>

{% endblock %}