{% extends "base.html" %}
{% block head %}
{% endblock%}
{% block context %}

<div class="container-fluid">
    <div class="row">
    <h1 class="h1 text-center">社工库</h1>
    </div>

    <div class="row" style="padding-bottom: 15px">
        <table class="table">
        <tr class="success">
            <td>
                开启的core为:
            </td>
            {% for core in cores %}
                <td>{{core}}</td>
            {% endfor %}
        </tr>
        </table>
    </div>

<div class="row">
    <form action="/" method="POST" role="search">
        <div class="form-group">
          {% csrf_token %}
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-1" style="padding-left: 120px">
                {{ form.keyword }}
                </div>
                <div class="col-md-2" style="margin-left: -30px;">
                    <input type="submit" value="提交" class="btn btn-default" id="bt1">
                </div>
            </div>
            </div>
        </div>
        </form>
    </form>
</div>

    {% if keyword != None %}
    <div class="row">
    <table class="table table-bordered table-hover table-striped">
        {% for res in keyword.keyword %}
            <tr>
                <td>{{ res.username }}</td>
                <td>{{ res.email }}</td>
                <td>{{ res.password }}</td>
                <td>{{ res.site }}</td>
            </tr>
        {% endfor %}
        {% for res in keyword.content %}
            <tr>
                <td colspan="4">{{ res.content }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

</div>
{% endblock %}