{% extends 'base.html' %}
{% block context %}

<div class="container-fluid">
    <div class="row">
        <p class="h1 text-center" style="padding-bottom: 15px">C段/子站信息查询</p>
    <form action="/subdomain" method="POST" role="search">
        <div class="form-group">
            {% csrf_token %}
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-1" style="padding-left: 120px">
                    {{ MyForm.domain }}
                </div>
                <div class="col-md-2" style="margin-left: -30px;">
                    <input type="submit" value="提交" class="btn btn-default" id="bt1">
                </div>
            </div>
            </div>
        </div>
        </form>
    </form>
        <p class="h2 small text-center">{{ Msg }}</p>
    <table class="table table-bordered table-hover table-striped">
        {% for key,values in res.items %}
            <tr>
                <td><a href="http://{{ key }}">{{ key }}</a></td>
                <td>
                {% for i in values.ip %}
                <a href="/domain/{{ i }}">{{ i }}</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
                </td>
                <td>{{ values.server }}</td>
                <td>{{ values.title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>

{% endblock %}
